
<app-toasts></app-toasts>
<app-header></app-header>


<div class="change-location-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mt-2">
                <button type="button" class="btn btn-primary" (click)="openChangeLocationPopup()">Change
                    location</button>
                <button type="button" class="btn btn-primary" (click)="open(content)">Schedule
                    Alert</button>
                <button type="button" class="btn btn-primary" (click)="shareNow()">Share Status</button>
                <!-- <button type="button" class="btn btn-secondary">{{ selectedArea.locality }}</button> -->
                
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-secondary" id="dropdownBasic1" style="background-color: #333; color:#fff" ngbDropdownToggle>{{ selectedArea.locality }}</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Profile</button>
                        <button ngbDropdownItem>Logout</button>
                      </div>
                    </div>
            
            </div>
        </div>

    </div>


    <div class="overlay-wrapper changeLocationOverlay" [ngClass]='isChangeLocation ? "show-popup" : ""'>
        <div class="new-location-wrapper" style="max-height: 55%;">
            <span id="close-it" (click)="closeChangeLocationPopup()">X</span>

            <h3>Choose location (<em>{{selectedArea.locality}}</em>)</h3>
            <div class="row">
                <div class="col-sm-9">
                    <select class="form-control" id="locationName" [(ngModel)]="selectedArea.locality">
                        <option *ngFor="let area of areaData" value="{{ area.locality }}">
                            {{ area.locality }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-secondary" id="updateLocation" (click)="changeLocation()">Go</button>
                </div>
            </div>
            <div class="col-sm-12">
                <iframe class="w-100" src="https://maps.google.com/maps?q='+latitude+','+longitude+'&hl=en&z=10&amp;output=embed" style="margin-top: 64px; border: 1px solid cadetblue;height: 287px;" allowfullscreen="true"></iframe>
            </div>
        </div>
    </div>

    <!-- change location end here -->
    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Generate Alert</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Email</span>
                <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Mobile</span>
                <input type="text" class="form-control" placeholder="Mobile" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Frequency</span>
                <select class="form-control" name="alert-type" id="alert-type">
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>                    
                </select>
            </div>
            <div class="input-group">                      
                <input type="checkbox" name="pipeblockage" />
                <span class="input-group-addon">Pipe Blockage </span>
                <input type="number" class="form-control" name="violationLevel" [(ngModel)]="pipeblockage" placeholder="or 100 +" id="pipeblockage" [value]="" style="display:inline-flex; width: 50px;height: 40px; margin-left: 20px;">
            </div>
            <div class="input-group">
                        <input type="checkbox" name="pipeblockage" />
                        <span class="input-group-addon">Remaining Pipe Time Span </span>
                        <input type="number" class="form-control" name="violationLevel" [(ngModel)]="pipetimespan" placeholder="or 100 +" id="pipetimespan" [value]="" style="display:inline-flex; width: 50px; height:40px;margin-left: 20px;">
                        </div>
                        <div class = "input-group">
                        <input type="checkbox" name="pipeblockage" />
                        
                        <span class="input-group-addon">Flow Rate </span>
                        <input type="number" class="form-control" name="violationLevel" [(ngModel)]="flowrate" placeholder="or 100 +" id="flowrate" [value]="" style="display:inline-flex; width: 50px; height: 40px; margin-left: 20px;">
                    </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); createAlert()">Set Alert</button>
        </div>
      </ng-template>
    </div>

<!-- Info Boxes content-->
<div class="container">
    <div class="row">
    <!--Pie Chart-->
    <div class="col-lg-7 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Per Capita Water requirement in Delhi</h4>
            <canvas baseChart [chartType]="'pie'" [datasets]="doughnutPieChartData" [labels]="doughnutPieChartLabels" [options]="doughnutPieChartOptions" [colors]="doughnutPieChartColors"></canvas>
            <h4 class="card-title">Total per capita water requirement= 274 lpcd</h4>
          </div>
        </div>
</div>  

<!--Pie chart ends-->
      <div class="col-md">
          <div class="flex-md-row">
            <div class="info-box animate__animated animate__pulse animate__delay-1s" style="
            background-color: #5aa3c5 !important;color:whitesmoke">
               <span class="info-box-icon"><img src="./assets/images/pipeline.png"></span>
    
               <div class="info-box-content">
                   <span class="info-box-number">{{ selectedArea.totalPipeLength }} KM</span>
                   <div class="progress">
                       <div class="progress-bar" style="width: 80%"></div>
                   </div>
                   <span class="progress-description">
                    Length of pipe
                   </span>
               </div>
            </div>               
        </div> 


        <!-- /.info-box-content -->


    <div class="flex-row-md">
      
            <div class="info-box animate__animated animate__pulse animate__delay-1s" style="
            background-color: #5aa3c5 !important;color:whitesmoke">
               <span class="info-box-icon"><img src="./assets/images/gas-pipeline.png"></span>
    
               <div class="info-box-content">
                   <span class="info-box-number">{{ selectedArea.percentageOfBlockage }} %</span>
                   <div class="progress">
                       <div class="progress-bar" style="width: 80%"></div>
                   </div>
                   <span class="progress-description">
                    Average Blockage in Pipes
                   </span>
               </div>
            </div>
    </div>
              <div class="flex-md-row">
                <div class="info-box animate__animated animate__pulse animate__delay-1s" style="
                background-color: #5aa3c5 !important;color:whitesmoke">
                   <span class="info-box-icon"><img src="./assets/images/pressure-gauge.png"></span>
        
                   <div class="info-box-content">
                       <span class="info-box-number">{{ selectedArea.flowRate }} L/s</span>
                       <div class="progress">
                           <div class="progress-bar" style="width: 80%"></div>
                       </div>
                       <span class="progress-description">
                        Average Flow Rate
                       </span>
                   </div>
                </div>
              </div>

              <div class="flex-md-row">
                <div class="info-box animate__animated animate__pulse animate__delay-1s" style="
                background-color: #5aa3c5 !important;color:whitesmoke">
                   <span class="info-box-icon"><img src="./assets/images/pipes.png"></span>
        
                   <div class="info-box-content">
                       <span class="info-box-number">{{ selectedArea.percentageDefect }} %</span>
                       <div class="progress">
                           <div class="progress-bar" style="width: 80%"></div>
                       </div>
                       <span class="progress-description">
                       Average Deterioration
                       </span>
                   </div>
                </div>
              </div>
    
        </div>
    </div>
            


     


 <!--First container ends-->
 <div class="sub-container"><span class="statistics input-group-addon"> Statistics</span></div>

 <div class= "graph-container">
    <div class="row mt-3 bg-fancy video-info-area">
    <div class="col-lg-6 col-md-6">
        <div class="rplr-30">
            <div class="c-share">
                <input class="c-share__input" [class.active]="isActiveShare" type="checkbox" id="checkbox">
                <label class="c-share__toggler" for="checkbox" (click)="isActiveShare = !isActiveShare;">
                    <span class="c-share__icon"></span>
                </label>
                <ul class="c-share_options" data-title="Share">
                    <li>Share as Image</li>
                    <li>Share as CSV</li>
                    <li>Share as PDF</li>
                    <li>Share via Email</li>
                </ul>
            </div>
            <div class="future-services services text-center wow slideInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: slideInUp;">
                <highcharts-chart [Highcharts]="Highcharts" [options]="demandSupplyGraph" style="width: 100%; height: 400px; display: block;"></highcharts-chart>           
            </div>
        </div>
    </div>

   
        <div class="col-lg-6 col-md-6">
            <div class="rplr-30">
                <div class="c-share">
                    <input class="c-share__input" [class.active]="isActive" type="checkbox" id="checkbox">
                    <label class="c-share__toggler" (click)="isActive = !isActive;" for="checkbox">
                        <span class="c-share__icon"></span>
                    </label>
                    <ul class="c-share_options" data-title="Share">
                        <li>Share as Image</li>
                        <li>Share as CSV</li>
                        <li>Share as PDF</li>
                        <li>Share via Email</li>
                    </ul>
                </div>
                <div class="future-services services  text-center wow slideInUp" data-wow-duration="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-name: slideInUp;">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="blockageSupplyGraph" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>
     </div>
 </div>

 

 <div class= "graph-container">
    
     
     <div class="row mt-3 bg-fancy video-info-area">
        <div class="col-lg-6 col-md-6">
            <div class="rplr-30">
                <div class="c-share">
                    <input class="c-share__input" [class.active]="isActive" type="checkbox" id="checkbox">
                    <label class="c-share__toggler" (click)="isActive = !isActive;" for="checkbox">
                        <span class="c-share__icon"></span>
                    </label>
                    <ul class="c-share_options" data-title="Share">
                        <li>Share as Image</li>
                        <li>Share as CSV</li>
                        <li>Share as PDF</li>
                        <li>Share via Email</li>
                    </ul>
                </div>
                <div class="future-services services  text-center wow slideInUp" data-wow-duration="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-name: slideInUp;">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="selectedLineChart" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="rplr-30">
                <div class="c-share">
                    <input class="c-share__input" [class.active]="isActiveShare" type="checkbox" id="checkbox">
                    <label class="c-share__toggler" for="checkbox" (click)="isActiveShare = !isActiveShare;">
                        <span class="c-share__icon"></span>
                    </label>
                    <ul class="c-share_options" data-title="Share">
                        <li>Share as Image</li>
                        <li>Share as CSV</li>
                        <li>Share as PDF</li>
                        <li>Share via Email</li>
                    </ul>
                </div>
                <div class="future-services services text-center wow slideInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: slideInUp;">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="selectedGraph" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>
    </div>
 </div>





<ng-template #videocontent1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Central Delhi</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
       <video src="{{currentVideo}}" height="300px" width="500px" autoplay loop></video>
       <span class="input-group-addon">Length of Pipe: 500 KM </span>
       <span class="input-group-addon">Diameter of Pipe: 10 M </span>
       <span class="input-group-addon">Current Age of Pipe: 98 years </span>
       <span class="input-group-addon">Pipe Material: Cast Iron </span>
       <span class="input-group-addon">Flow Rate: 68 L/s </span>
       <span class="input-group-addon">Remaining useful life: 5 years </span>
       <span class="input-group-addon">Pipe Deterioration: 60 % </span>
       <span class="input-group-addon">Pipe Blockage: 40 % </span>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>



  <ng-template #videocontent2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">South Delhi</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
       <video src="{{currentVideo}}" height="300px" width="500px" autoplay loop></video>
       <span class="input-group-addon">Length of Pipe: 500 KM </span>
       <span class="input-group-addon">Diameter of Pipe: 10 M </span>
       <span class="input-group-addon">Current Age of Pipe: 98 years </span>
       <span class="input-group-addon">Pipe Material: Cast Iron </span>
       <span class="input-group-addon">Flow Rate: 70 L/s </span>
       <span class="input-group-addon">Remaining useful life: 5 years </span>
       <span class="input-group-addon">Pipe Deterioration: 50 % </span>
       <span class="input-group-addon">Pipe Blockage: 30 % </span>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>

  <ng-template #videocontent3 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">West Delhi</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
       <video src="{{currentVideo}}" height="300px" width="500px" autoplay loop></video>
       <span class="input-group-addon">Length of Pipe: 500 KM </span>
       <span class="input-group-addon">Diameter of Pipe: 10 M </span>
       <span class="input-group-addon">Current Age of Pipe: 98 years </span>
       <span class="input-group-addon">Pipe Material: Cast Iron </span>
       <span class="input-group-addon">Flow Rate: 66 L/s </span>
       <span class="input-group-addon">Remaining useful life: 5 years </span>
       <span class="input-group-addon">Pipe Deterioration: 54 % </span>
       <span class="input-group-addon">Pipe Blockage: 33 % </span>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>

  <ng-template #videocontent4 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Najafgarh</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
       <video src="{{currentVideo}}" height="300px" width="500px" autoplay loop></video>
       <span class="input-group-addon">Length of Pipe: 500 KM </span>
       <span class="input-group-addon">Diameter of Pipe: 10 M </span>
       <span class="input-group-addon">Current Age of Pipe: 98 years </span>
       <span class="input-group-addon">Pipe Material: Cast Iron </span>
       <span class="input-group-addon">Flow Rate: 70 L/s </span>
       <span class="input-group-addon">Remaining useful life: 5 years </span>
       <span class="input-group-addon">Pipe Deterioration: 67 % </span>
       <span class="input-group-addon">Pipe Blockage: 49 % </span>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>

 <div class="container">
     <div class="form-group">
        <div class="sub-container"><span class="statistics input-group-addon recommendations">Recommendations</span></div>
         <div class="flex-row row-3">
           <div class="col-md-6 recommendations">
            <div class="info-box animate__animated animate__lightSpeedInRight animate__delay-2s recommendations" style="
            background-color: #305A68 !important;color:whitesmoke">    
               <div class="info-box-content recommendations">
                   <p class="info-box-number recommendations" *ngIf="islocationChanged; else elseBlock">Pipes are deteriorated more than 80%. Maintenance required.</p>
                   <ng-template #elseBlock><p class="info-box-number recommendations">
                    Due to weather forecast about heavy rain, maintenance might be required in upcoming month. 
                   </p></ng-template>
               </div>
           </div>
         </div>
     </div>
 </div>

 <section class="live-video-track-wrapper conection-shap" id="liveVideoSection">
    <div class="banner just-anim">

        <div class="my-container container">
            <span class="liveView">Live</span>
       <img class="liveView" src="./assets/images/icons8-live-video-on.gif">
            <div class="video-with-details flex-lg-row">  
                <div class="video-area col-md-3">                                               
                    
                         <div class= "video-button">                         
                                <video src="{{currentVideo}}" ngbPopover="Central Dlehi"
  [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave" width="310px" height="100px" autoplay loop></video> <button class="btn bg-transparent" (click)="open(videocontent1)"></button></div></div>

  <div class="video-area col-md-3">
        <div class="video-button">
              <video src="{{currentVideo}}" ngbPopover="South Delhi"
  [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave" width="310px" height="100px" autoplay loop></video><button class="btn bg-transparent" (click)="open(videocontent2)"></button></div></div>

  <div class="video-area col-md-3">
        <div class="video-button">             
                                <video src="{{currentVideo}}" ngbPopover="West Delhi"
  [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave" width="310px" height="100px" autoplay loop></video><button class="btn bg-transparent" (click)="open(videocontent3)"></button></div></div>

  <div class="video-area najafgarh col-md-3">
  <div class="video-button"> 
  <video src="{{currentVideo}}" ngbPopover="Najafgarh"
  [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave" width="310px" height="100px" autoplay loop></video><button class="btn bg-transparent" (click)="open(videocontent4)"></button></div></div>                            
                                
                        </div>
                        </div>
                   </div>

                   <div class="areaSelection">
                       <span>Central Delhi</span>
                       <span>South Delhi</span>
                       <span>West Delhi</span>
                       <span>Najafgarh</span>
                   </div>
                   <div id="video-details">You're watching {{ selectedArea.locality }} </div>  

</section>



