<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <img src="./assets/images/fluidBot.png">

                <span class="login100-form-title p-b-43">
                    Login to continue
                </span>
                
                
                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                    <span class="label-input100"></span>
                </div>
                
                
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="pass" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="label-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-32">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            Forgot Password?
                        </a>
                    </div>
                </div>
        

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="goToDashboard()">
                        Login
                    </button>
                </div>
                
                <div class="text-center p-t-46 p-b-20">
                    <span class="txt2">
                       
                    </span>
                </div>
                
                <div class="register complaint">
                    <button class="login100-form-btn" (click)="goToComplaint()">
                        Register Complaint
                    </button>
                </div>
            </form>

            <div class="login100-more" style="background-image: url('./assets/images/bg-01.jpg');">
                <span class= "fluidBot">Fluid Bot </span>
                <p class=" mb-4">Structural deterioration of pipes in urban distribution network has presented great challenges to the utilities all over the world.Deformation and defects in  pipes has  exceeds its resiliency, leading to leak or burst, and impacting the significant economic and social costs.
                </p>
            </div>
        </div>
    </div>
</div>